/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*	HELPER CLASSES	*/
.clear {
	clear: both;
}
.content {
	width: 1000px;
	margin: auto;
}
.center {
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
}
.animate {
	-o-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
/*	HEADER	*/
header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	text-align: center;
	z-index: 10000;
	background-color: rgba(255,255,255,0.1)
}
header.small {
	padding: 10px 0;
	height: 45px;
	background-color: rgba(24,50,68,.95);
}
header .content {
	position: relative;
	height: 100%;
}
header nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
header nav:nth-of-type(1) {
	left: 0;
}
header figure {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
header figure img {
	display: block;
	width: 100%;
}
header nav:nth-of-type(2) {
	right: 0;
}
header nav a {
	margin: 0 16px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(255,255,255,.7);
}
header nav a:hover {
	color: #fff;
	cursor: pointer;
}
header .content > a {
	display: none;
}
#menu-wrapper {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(24,50,68,.95);
	z-index: 10000;
}
#menu-wrapper .menu-wrapper-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: rgba(255,255,255,.7);
}
/*	HOME	*/
#wrapper {
	width: 100%;
}
#wrapper {
	position: relative;
	width: 100%;
	z-index: 10;
}
.home-content-image {
	position: relative;
	height: 100vh;
	background: url(../images/home-bg.jpg) 100% center no-repeat;
	background-size: cover;
}
.home-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}
.home-content h1 {
	font-size: 72px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
}
.home-content p {
	margin-top: 20px;
	font-size: 26px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: .6px;
	color: #fff;
}
.home-content span {
	display: block;
	width: 620px;
	margin: auto;
	margin-top: 176px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .6px;
	line-height: 20px;
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
}
#wrapper section:nth-of-type(1) img {
	display: block;
	margin: 100px auto 60px auto;
}
#wrapper section:nth-of-type(1) h2:before {
	display: block;
	content:"";
	margin-bottom: 60px;
	height: 1px;
	width: 100%;
	background-color: rgba(24,50,68,.15);
}
#wrapper section h2 {
	margin: 0 0 60px 0;
	font-size: 42px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}
#wrapper section p {
	margin: 0 0 18px 0;
	font-size: 16px;
	letter-spacing: .4px;
	line-height: 20px;
	color: rgba(24,50,68,.7);
	text-align: justify;
}
#wrapper section p:last-of-type {
	margin-bottom: 0;
}
#wrapper section .slider {
	margin: 100px 0;
}
#wrapper section .slider .photo1:focus,
#wrapper section .slider .photo2:focus,
#wrapper section .slider .photo3:focus,
#wrapper section .slider .photo4:focus,
#wrapper section .slider .photo5:focus,
#wrapper section .slider .photo6:focus,
#wrapper section .slider .photo7:focus,
#wrapper section .slider .photo8:focus,
#wrapper section .slider .photo9:focus,
#wrapper section .slider .photo10:focus {
	outline: none;
}
#wrapper section .slider .photo1 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation1.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo2 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation2.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo3 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation3.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo4 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation4.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo5 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation5.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo6 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation6.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo7 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation7.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo8 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation8.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo9 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation9.jpg) 100% center no-repeat;
	background-size: cover;
}
#wrapper section .slider .photo10 {
	height: calc(100vh - 65px);
	background: url(../images/slider/visualisation10.jpg) 100% center no-repeat;
	background-size: cover;
}
/*	SLIDER STRZAÅKI I KROPKI	*/
.slick-prev {
    left: 15px;
}
.slick-next {
    right: 15px;
}
button.slick-prev:hover:active,
button.slick-next:hover:active {
	background-color: transparent;
}
button.slick-prev:hover,
button.slick-next:hover {
	box-shadow: none;
	outline: none;
	color: transparent;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    background: url('../images/slider/arrow-left.png') center center no-repeat;
    background-size: 24px;
    z-index: 55;
}
.slick-next {
    background: url('../images/slider/arrow-right.png') center center no-repeat;
    background-size: 24px;
}
/*
	DOTS
*/
.slick-dots {
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
}
.slick-dots li {
	display: inline-block;
	margin: 0 3px;
	height: 12px;
	width: 12px;
}
.slick-dots button {
	display: inline-block;
	vertical-align: top;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	border: none;
	opacity: 0.5;
	background-color: black;
	font-size: 0;
}
.slick-dots button:focus {
	outline: none;
}
.slick-dots button:hover {
	outline: none;
	box-shadow: none;
	border: none;
}
.slick-active button {
	border-radius: 100%;
	border:none;
	opacity: 1;
	background-color: white;
}
#wrapper section:nth-of-type(3) p {
	margin-bottom: 0;
}
#wrapper section:nth-of-type(3) iframe {
	width: 100%;
	height: 408px;
	margin: 80px 0;
}
#wrapper section:nth-of-type(4) {
	padding: 90px 0;
	background-color: #f5f5f5;
}
#wrapper section:nth-of-type(4) h2,
#wrapper section:nth-of-type(6) h2 {
	margin: 0 0 20px 0;
}
#wrapper section:nth-of-type(4) p {
	text-align: center;
	font-weight: 500;
	font-family: italic;
	text-transform: uppercase;
}
#wrapper section:nth-of-type(5) img {
	width: 100%;
}
#wrapper section:nth-of-type(6) {
	font-size: 0;
	margin: 80px 0;
}
#wrapper section:nth-of-type(6) p#contact-p {
	font-style: italic;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .4px;
}
#wrapper section:nth-of-type(6) p#contact-p:after {
	display: block;
	content:"";
	margin-top: 70px;
	height: 1px;
	width: 100%;
	background-color: rgba(24,50,68,.15);
}
#wrapper section #column {
	display: inline-block;
	margin: 70px 0 0 0;
	width: 50%;
	min-height: 186px;
	vertical-align: top;
}
#wrapper section #column img {
	display: inline-block;
}
#wrapper section #column .contact-content {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 0 30px;
}
#wrapper section #column .contact-content h3 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	color: rgba(24,50,68,.7);
}
#wrapper section #column .contact-content p {
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
#wrapper section #column .contact-content p:first-of-type {
	text-transform: uppercase;
}
footer {
	background-color: #183244;
}
footer p {
	padding: 70px 0;
	text-align: center;
	color: rgba(255,255,255,.4);
}
footer p a {
	color: rgba(255,255,255,.4);
	text-decoration: none;
	border-bottom: 0.7px solid rgba(255,255,255,.4);
}
footer p a:hover {
	border-bottom: 1.5px solid rgba(255,255,255,.4);
}

@media screen and (max-width: 1000px) {
	.content {
		width: 90%;
		margin: auto;
	}
	header {
		height: 140px;
	}
	header figure {
		top: 35%;
	}
	header nav:nth-of-type(1) {
		margin-top: 30px;
		width: 50%;
		text-align: right;
	}
	header nav:nth-of-type(2) {
		margin-top: 30px;
		width: 50%;
		text-align: left;
	}
	header.small nav:nth-of-type(1) {
		margin-top: 0;
	}
	header.small nav:nth-of-type(2) {
		margin-top: 0;
	}
	header.small img {
		display: none;
	}
	.home-content h1 {
	    font-size: 60px;
	}
	#wrapper section #column .contact-content {
		padding: 0 0 0 30px;
		vertical-align: middle;
	}
	#wrapper section #column .contact-content p {
		font-size: 14px;
	}
	#wrapper section #column img {
		width: 100px;
		vertical-align: middle;
	}
}

@media screen and (max-width: 900px) {
	#wrapper section #column img {
		display: block;
		margin: 0 auto 20px auto;
		width: 100px;
	}
	#wrapper section #column .contact-content {
		display: block;
		padding: 0;
	}
	#wrapper section #column .contact-content h3,
	#wrapper section #column .contact-content p {
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	header {
		position: absolute;
		height: 100px;
		background-color: transparent;
	}
	header figure {
		top: 50%;
	}
	header nav {
		display: none;
	}
	header .content > a {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		width: 50px;
		transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	header .content > a img {
		width: 22px;
		cursor: pointer;
	}
	header .content > a.fixed {
		position: fixed;
		top: 0;
		left: 0;
		
		width: 100%;
		height: 40px;
		background-color: rgba(24,50,68,.95);
		transform: none;
		-o-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
	}
	header .content > a.fixed img {
		position: absolute;
		display: block;
		width: 22px;
		top: 50%;
		left: 0;
		margin-left: 20px;
		transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		cursor: pointer;
	}
	.home-content {
		width: 100%;
	}
	.home-content span {
		width: 80%;
	}
	.home-content h1 {
	    font-size: 55px;
	}
	#menu-wrapper a {
		display: block;
		margin-bottom: 30px;
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
	}
	#menu-wrapper a:last-of-type {
		margin-bottom: 0;
	}
	#menu-wrapper a:hover {
		color: #fff;
	}
	#menu-wrapper a img {
		cursor: pointer;
	}
	#menu-wrapper a #close-menu {
		position: fixed;
		top: 0;
		left: 0;
		margin-left: 25px;
		margin-top: 25px;
		width: 22px;
		height: 22px;
	}
}

@media screen and (max-width: 640px) {
	#menu-wrapper a {
		font-size: 24px;
	}
	.home-content h1 {
	    font-size: 40px;
	}
	#wrapper section h2 {
		font-size: 36px;
	}
	#wrapper section p {
		font-size: 14px;
	}
	#wrapper section #column {
		display: block;
		margin: 70px 0 0 0;
		width: 100%;
		min-height: 186px;
		vertical-align: top;
	}
}